.container {
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
  border: 2px solid #3e2f2f;
  border-radius: 10px;
}

.input {
  padding: 10px 20px;
  border: 1px solid #3e2f2f;
  border-radius: 8px;
  background-color: #edf2ed;
}

.button {
  padding: 10px 20px;
  border: 1px solid #3e2f2f;
  border-radius: 8px;
  background-color: #edf2ed;
  cursor: pointer;
}

.button:active {
  border-color: #edf2ed;
}

.button:hover {
  background-color: #3e2f2f;
  color: #edf2ed;
}

.text {
  font-size: 16px;
}
